@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body {
    background-color: #fce4ec;
    font-family: "abel", sans-serif;
    font-size: large;
   }

   .form-border {
       border: solid black 1px;
   }

.ingredients_list {
    list-style-type: circle;
   }

.hidden {
    display: none;
}

.recipe-panel {
    background-color: #FFF4F8;
}

.category-header {
    text-decoration: underline;
}

.card-title {
    font-size: large;
}