@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body {
    background-color: #fce4ec;
    font-family: "abel", sans-serif;
    font-size: large;
}

.form-border {
    border: solid black 1px;
}

.ingredients_list {
    list-style-type: circle;
}

.hidden {
    display: none;
}

.card-panel {
    background-color: #FFF4F8;
}

.category-header {
    text-decoration: underline;
}

.card-image {
    border: black solid 1px;
}

.card-image img {
    max-width: 100%;
}

.admin-heading {
    margin-top: 0;
}

.admin-welcome{
    margin-top: 3rem;
}

.admin-welcome button {
    margin-bottom: 1rem;
}

.instructions-area{
    border: dotted black 3px;
}

.card-info {
    font-size: larger;
}
