@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body {
    background-color: #fce4ec;
    font-family: "abel", sans-serif;
    font-size: large;
}

.flash-messages div h4 {
    padding: 1rem;
}

.home-page-content {
    margin-top: 1rem;
    padding-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    background-color: #FFF4F8;
}

.maria-image img {
    max-width: 100%;
    border: solid black 1px;
}

.home-text {
    padding-left: 2rem;
    padding-right: 2rem;
}

.home-button {
    margin-bottom: 1rem;
}

.form-border {
    border: solid black 1px;
}

.form-text {
    font-size: medium;
}

.ingredients_list {
    list-style-type: circle;
}

.hidden {
    display: none;
}

.card-panel {
    background-color: #FFF4F8;
}

.category-header {
    text-decoration: underline;
}

.recipe-image div img {
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    border: black solid 1px;
}

.admin-heading {
    margin-top: 0;
}

.admin-welcome{
    margin-top: 3rem;
}

.admin-welcome button {
    margin-bottom: 1rem;
}

.instructions-area{
    border: dotted black 3px;
}

.card-info {
    font-size: larger;
}

.back-button {
    padding-top: 1rem;
}

.form-buttons div button {
    margin-bottom: 1rem;
}

.full-recipe-image div img {
    max-width: 100%;
    border: black solid 1px;
}

@media screen and (max-width: 1024px) {
    #description {
        display: none;
    }
}