{% extends 'base.html' %}
{% block content %}
<div class="row card-panel pink lighten-5">
            <form class="col offset-s1 s10 grey lighten-5 form-border form" method="POST" action="{{ url_for('add_recipe') }}">
                <div class="center">
                    <h4>
                        Write your new recipe here!
                    </h4>
                </div>
                <!-- category -->
                <div class="row">
                    <div class="input-field col s2 center">
                        <strong>Dish Category:</strong>
                    </div>
                    <div class="col s10">
                        <select id="category_name" name="category_name" class="validate" required>
                            <option value="" disabled selected>Choose Category</option>
                            {% for category in categories %}
                                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!-- dish name -->
                <div class="row">
                    <div class="input-field col s2 center">
                        <strong class="">Dish Name:</strong>
                    </div>
                    <div class="div col s10">
                        <input id="name" name="name" minlength="5" maxlength="50" 
                            type="text" class="validate" required>
                        <label for="name">Enter Dish Name</label>
                    </div>
                </div>
                <!-- time required -->
                <div class="row">
                    <div class="input-field col s2 center">
                        <strong class="">Time Required:</strong>
                    </div>
                    <div class="div col s10">
                        <input id="time_required" name="time_required" minlength="5" maxlength="50" 
                            type="number" class="validate" required>
                        <label for="time_required">Enter Time Required (Minutes)</label>
                    </div>
                </div>
                <!-- pre-heat oven -->
                <div class="row">
                    <div class="input-field col s2 center">
                        <strong class="">Pre-Heat Oven:</strong>
                    </div>
                    <div class="div col s10">
                        <input id="preheat_oven" name="preheat_oven" minlength="5" maxlength="50" 
                            type="number" class="validate">
                        <label for="preheat_oven">Enter Temperature (Degrees Celcius)</label>
                            <p>
                                <label>
                                    <input type="checkbox" class="filled-in" checked="checked" />
                                    <span>Click here if you dont use an oven!</span>
                                </label>
                            </p>
                    </div>

                </div>
                <!-- ingredients -->
                <div class="row">
                    <div class="input-field col s2 center">
                        <strong class="">Ingredients:</strong>
                    </div>
                    <div class="div col s10">
                        <textarea id="ingredients" name="ingredients" minlength="5" class="materialize-textarea validate required"></textarea>
                        <label for="ingredients">Eggs, Flour, Milk...</label>
                    </div>
                </div>
                <!-- allergy info -->
                <div class="row">
                    <div class="input-field col s2 center">
                        <strong class="">Allergy Information:</strong>
                    </div>
                    <div class="div col s10">
                        <textarea id="allergy_info" name="allergy_info" minlength="5" 
                             class="materialize-textarea validate required"></textarea>
                        <label for="allergy_info">Vegan, Lactose Free, Gluten Free...</label>
                    </div>
                </div>
                <!-- allergy info -->
                <div class="row">
                    <div class="input-field col s2 center">
                        <strong class="">Description:</strong>
                    </div>
                    <div class="div col s10">
                        <textarea id="description" name="description" minlength="5" 
                             class="materialize-textarea validate required"></textarea>
                        <label for="description"><em>"A perfect family dinner"</em></label>
                    </div>
                </div>
                <div class="steps">
                    <!-- steps -->
                    <div class="div col s12 center">
                        <h5>Please write instructions here, 3 steps are required for submission</h5>
                    </div>
                    <!-- step 1 -->
                    <div class="row">
                        <div class="input-field col s2 center">
                            <strong class="">Step 1:</strong>
                        </div>
                        <div class="div col s10">
                            <textarea id="step_1" value="1" name="step_1" minlength="5" 
                                class="materialize-textarea validate required"></textarea>
                            <label for="step_1"></label>
                        </div>
                    </div>                
                    <!-- step 2 -->
                    <div class="row">
                        <div class="input-field col s2 center">
                            <strong class="">Step 2:</strong>
                        </div>
                        <div class="div col s10">
                            <input id="step_2" value="2" name="step_2" minlength="5" 
                                class="materialize-textarea validate required">
                            <label for="step_2"></label>
                        </div>
                    </div>                
                    <!-- step 3 -->
                    <div class="row step">
                        <div class="input-field col s2 center">
                            <strong class="">Step 3:</strong>
                        </div>
                        <div class="div col s10">
                            <textarea id="step_3" value="3" name="step_3" minlength="5" 
                                class="materialize-textarea validate required"></textarea>
                            <label for="step_3"></label>
                        </div>
                    </div>      
                    <!-- step 4 -->
                    <div class="row step">
                        <div class="input-field col s2 center">
                            <strong class="">Step 4:</strong>
                        </div>
                        <div class="div col s10">
                            <textarea id="step_4" value="4" name="step_4" minlength="5" 
                                class="materialize-textarea validate required"></textarea>
                            <label for="step_4"></label>
                        </div>
                    </div>  
                    <!-- step 5 -->
                    <div class="row step">
                        <div class="input-field col s2 center">
                            <strong class="">Step 5:</strong>
                        </div>
                        <div class="div col s10">
                            <textarea id="step_5" value="5" name="step_5" minlength="5" 
                                class="materialize-textarea validate required"></textarea>
                            <label for="step_5"></label>
                        </div>
                    </div>
                </div>          
                <!-- add step -->
                <div class="row">
                    <div class="col s12 center-align">
                        <button type="button" id="add_new" class="btn pink lighten-4 black-text text-shadow">
                            Add New Step <i class="fas fa-plus-square right"></i>
                        </button>
                    </div>
                </div>
                <!-- comments -->
                <div class="row">
                    <div class="input-field col s2 center">
                        <strong class="">Comments</strong>
                    </div>
                    <div class="div col s10">
                        <textarea id="comments" name="comments" minlength="5" 
                            maxlength="500" class="materialize-textarea validate"></textarea>
                        <label for="comments">Comments, Any Extra Steps...</label>
                    </div>
                </div>
                <!-- submit button -->
                <div class="row">
                    <div class="col s12 center-align">
                        <button type="submit" class="btn-large pink lighten-4 black-text text-shadow">
                            Add New Recipe! <i class="fas fa-plus-square right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
{% endblock %}