{% extends 'base.html' %}
{% block content %}
{% for recipe in full_recipe %}
<div class="row">
    <div class="col s10 offset-s1">
        <div class="card-panel cyan lighten-5">
            <div class=" black-text">
                <span class="card-title">Dish Name: {{ recipe.name }}</span>
                <span class="card-title">Course: {{ recipe.category_name }}</span>
                <span class="card-title">Dietary Info: {{ recipe.dietary_info }}</span>
                <span class="card-title">Time Required: {{ recipe.time_required }} Minutes</span>
                {% if recipe.preheat_oven %}
                    <span class="card-title">Pre-heat Oven: {{ recipe.preheat_oven }} Degrees</span>
                {% endif %}
                <span class="card-title">Ingredients:
                    <ol class="ingredients_list">
                        {% for ing in ingredients %}
                            <li>
                                {{ ing }}
                            </li>
                        {% endfor %}
                        </ol>
                </span>
                <span class="card-title">Instructions:
                    <ol>
                        {% for step in steps %}
                            <li>
                                {{ step }}
                            </li>
                        {% endfor %}
                    </ol>
                </span>           
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}