{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel">
            <h3 class="center-align light-blue-text text-darken-4">
                {{ username|capitalize }}'s Recipes
            </h3>
            <div class="row">
                <div class="col s12">
                    <a href="{{ url_for('add_recipe') }}" class="waves-effect waves-light btn">Add New Recipe!</a>
                </div>           
                {% for category in categories %}
                    <div class="row">
                        {% for recipe in recipes %}
                            {% if (recipe.category_name == category.category_name) and (session.user == recipe.created_by) %}
                                <div class="col m4">
                                    <div class="card">
                                        <div class="row">
                                            <div class="col s6">
                                                <div class="card-image">
                                                    <img src="{{ url_for('static', filename='images/maria-dress.jpg') }}">
                                                </div>
                                            </div>
                                            <div class="col s6 center">
                                                <span class="card-title">{{ recipe.name }}</span>
                                            </div>
                                            <div class="col s6 center">
                                                <p><i class="fas fa-hourglass-half"></i>:  {{ recipe.time_required }} minutes</p>
                                            </div>
                                            
                                        </div>
                                        {% if session.user|lower == "maria" %}
                                            <div class="card-action center">
                                                <div class="row">
                                                    <div class="col s6">
                                                        <a href="{{ url_for('full_recipe', recipe_id=recipe._id) }}">Full Recipe!</a>
                                                    </div>
                                                    <div class="col s6">
                                                        <a class="btn-floating btn waves-effect waves-light green"><i class="far fa-edit"></i></a>
                                                        <a class="btn-floating btn waves-effect waves-light red"><i class="far fa-times-circle"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% elif session.user %}
                                            <div class="card-action center">
                                                <div class="row">
                                                    <div class="col s6">
                                                        <a href="{{ url_for('full_recipe', recipe_id=recipe._id) }}">Full Recipe!</a>
                                                    </div>
                                                    <div class="col s6">
                                                        {% if session.user == recipe.created_by %}
                                                            <a class="btn-floating btn waves-effect waves-light green"><i class="far fa-edit"></i></a>
                                                            <a class="btn-floating btn waves-effect waves-light red"><i class="far fa-times-circle"></i></a>
                                                        {% else %}
                                                            <a class="btn-floating btn waves-effect waves-light green disabled"><i class="far fa-edit"></i></a>
                                                            <a class="btn-floating btn waves-effect waves-light red disabled"><i class="far fa-times-circle"></i></a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="card-action center">
                                                <a href="{{ url_for('full_recipe', recipe_id=recipe._id) }}">Full Recipe!</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>
</div>
{% endblock %}