{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel">
            <h3 class="center-align light-blue-text text-darken-4">
                {{ username|capitalize }}'s Profile
            </h3>
            <div class="row">
                <div class="col s12">
                    <a href="{{ url_for('add_recipe') }}" class="waves-effect waves-light btn">Add New Recipe!</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}