{% extends "base.html" %}
{% block content %}
<h3 class="center-align">Register Here!</h3>
<form method="POST" action="{{ url_for('register') }}">
    <div class="row">
        <div class="col s10 m6 offset-m3">
            <div class="card-panel">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="username" name="username" type="text" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate black-text">
                        <label class="black-text" for="username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" name="password" type="password" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate black-text">
                        <label class="black-text" for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="col m4 offset-m4 btn-large pink lighten-4 black-text text-shadow">
                        Register
                    </button>
                </div>
            </div>
            <div class="col s12">
                <p class="center-align">Already have an account?<br> <a href="{{ url_for('login') }}" class="light-blue-text text-darken-4">Log In Here</a></p>    
            </div>
        </div>
    </div>
</form>
{% endblock %} 